body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon img {
  width: 10%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}



abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}


*::before,
*::after {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

body {
  line-height: 1.8;
  line-height: 2;
  font-size: 15px;
  color: var(--color_black);
}

a {
  text-decoration: none;
  color: inherit;
}

/*
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
} */

input,
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* フォーム */
input,
select,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;

}

/* ここまで リセット*/

/* ここから共通CSS */

/* 色の変数 */
:root {
  --color_white: #fff;
  --color_black: #333;
  --color_blue: #00d7ee;
  --color_blue_light: #d0fdff;
  --color_orange: #ffaf3f;
  --color_orange_hover: #ff8539;
}

body {
  font-family: "Segoe UI",
    Meiryo,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: linear-gradient(118.47deg, #E9EDF0 0.61%, #E9EDF0 100%);
  margin-top: 0;
}

.warapper {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 64px 0;

}


button {
  width: 260px;
  height: 40px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
    10px 10px 20px rgba(166, 180, 200, 0.7);
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background: var(--color_blue_light);
}

button:active {
  background: var(--color_blue_light);
  box-shadow: inset 11px 11px 22px #d6dadd,
    inset -11px -11px 22px #fcffff;
}


.text_area {
  width: 260px;
  padding: 10px 16px 8px;
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75),
    inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  border-radius: 4px;
  font-size: 16px;


}

.text_area:focus {
  border-color: var(--color_blue_light);
}


/* ヘッダー
header {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
    10px 10px 20px rgba(166, 180, 200, 0.7);
  width: 340px;
  height: 60px;
  position: fixed;
  display: block;
}
.site_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon {
  padding: 11px;
}
.gnav__menu {
  display: flex;
  padding: 8px;
}
.gnav__menu__item {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
    10px 10px 20px rgba(166, 180, 200, 0.7);
  /* border: solid 1px rgba(159, 175, 180, 0.103); */
/* border-radius: 50%; */
/* text-align: center; */
/* }

.gnav__menu__item:hover {
  background: var(--color_blue_light);
}

.gnav__menu__item:active {
  background: var(--color_blue_light);
  box-shadow: inset 11px 11px 22px #d6dadd,
    inset -11px -11px 22px #fcffff;
}

.material-icons {
  color: #686868;
  vertical-align: -8px;
}

.gnav__menu__item a {
  color: #333;
  text-decoration: none;
} */
*/

/* 投稿 */
.post_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.post_card {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -18.1166px -18.1166px 30.1944px rgba(255, 255, 255, 0.8),
    15.0972px 15.0972px 36.2333px rgba(166, 180, 200, 0.7);
  border-radius: 20px;
  width: 300px;
  height: auto;
  margin: auto;

  /* border: solid 1px rgba(159, 175, 180, 0.103); */
}

/* 最初の投稿以外 余白*/
.post_card:not(:first-of-type) {
  margin: 36px 0 0;
}

.post_text {
  padding: 5px 15px 30px 15px;
}

.post_img {
  padding: 10px;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  /* object-fit: contain; */
}


.post_icon_area {
  display: flex;
  align-items: center;
}

.material-icons {
  font-size: 27px;
}

.post_icon {
  padding-top: 5px;
  padding-left: 15px;

}

.post_time {
  padding-left: 100px;
  padding-bottom: 6px;
  font-size: 14px;
  color: #686868;
}
